#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&zip_temp_layer {
    excluded-positions = <
        24 // Ctrl
        38 // Shift
        52 // Ctrl2
        33 // J
        34 // K
        35 // L
        36 // :
        50 // /
        57 // Space
        58 // Space
        59 // Space
    >;
};

&trackball_listener {
    input-processors = <
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        &zip_temp_layer 1 10000
    >;
};
